{% extends "music/base.html" %}

{% load static %}


{%block title%}
<h1>Albumler</h1>
{% endblock title%}



{% block pages %}
    <div id="templatemo_menu">
     	<ul>
			<li><a href="/" >Anasayfa</a></li>
			<li><a href="/sarkicilar/">Şarkıcılar</a></li>
            <li><a href="/albumler/" class="current">Albümler</a></li>
            <li><a href="/sarkilar/">Şarkılar</a></li>
            <li><a href="subpage.html" class="lastmenu">İletişim</a></li>
        </ul>
    </div>
{% endblock pages %}







{% block album %}
<ul>
    {%for album in albums %}
    <div class="col-sm-6">
        <img align=center src="/media/{{ album.album_logo }}" width=180" height="180" alt="album_logo"/>
        <li><a href="{% url 'album' album.album_title|slugify album.id %}"><h3>{{album.album_title}} </a> </h3></li>
        <h4>{{ album.singer_name}}</h4>
    </div>
    {%endfor%}
</ul>
{% endblock album %}