{% extends "music/base.html" %}

{% load static %}


{%block title%}
<h1>Sarkilar</h1>
{% endblock title%}



{% block pages %}
    <div id="templatemo_menu">
     	<ul>
			<li><a href="/" >Anasayfa</a></li>
			<li><a href="/sarkicilar/">Şarkıcılar</a></li>
            <li><a href="/albumler/" >Albümler</a></li>
            <li><a href="/sarkilar/" class="current" >Şarkılar</a></li>
            <li><a href="subpage.html" class="lastmenu">İletişim</a></li>
        </ul>
    </div>
{% endblock pages %}



{% block album %}



    {%for album in albums %}
    <table>
         <tr>
             <td> <img align=center src="/media/{{ album.album_logo }}" width="60" height="60" alt="album_logo"/></td>


                {% for song in album.song_set.all  %}
                <td>
                    {% if song.id|divisibleby:3 == 1 %}

                    <font face="verdana" color="pink" size="4" ><a href="{% url 'songdetails' song.song_name|slugify song.id %}">{{song.song_name}} </a>
                    </font> </font>
                    {% endif %}

                </td>

                {% endfor %}
                <td>
                 <font face="verdana" color="blue" size="4" ><a href="{% url 'sarkicilardetails' album.singer.singer_name|slugify album.singer.id %}">
                  -  {{ album.singer.singer_name }}</a></font>
                </td>


         </tr>
    </table>
    {% endfor %}




{% endblock album %}